/*
 * native_sim 64-bit variant overlay.
 * Keep the native simulator free of display emulation and provide the
 * same user-facing GPIO and ADC nodes the application expects.
 */
/ {
	zephyr,user {
		/* Wheel sensor - maps to reed0 in sim_inputs */
		wheel-sensor-gpios = <&gpio0 1 (GPIO_ACTIVE_LOW)>;
		/* Buttons - map to button0 in sim_inputs */
		button1-gpios = <&gpio0 0 (GPIO_ACTIVE_LOW)>;
		button2-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW)>;
		/* Battery ADC channel - maps to channel@0 in adc0 */
		io-channels = <&adc0 0>;
	};

	chosen {
		/delete-property/ zephyr,display;
	};
};

&sdl_dc {
	status = "disabled";
};

&spi0 {
	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <24000000>;

		mmc {
			compatible = "zephyr,sdmmc-disk";
			disk-name = "SD";
			status = "okay";
		};
	};
};

&adc0 {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,vref-mv = <3300>;
		zephyr,resolution = <12>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
	};
};
